<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><%= f.label :name %></p>
    <%= f.text_field :name, {:size => 20 } %>
  </div>
  <% if @team.new_record? %>
  <div class="field">
    <p><%= f.label :players__id %></p>
    <%= select_tag("players[][id]", options_from_collection_for_select(Player.all, :id, :name)) %> and
    <%= select_tag("players[][id]", options_from_collection_for_select(Player.all, :id, :name)) %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
