<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h3>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @players.length < 2 %>

    <div class="field">
      <p>You need two players in order to make a new team. <%= link_to 'Click here to create one.', new_player_path %></p>
    </div>

  <% else %>

    <div class="field">
      <p><%= f.label :name %></p>
      <%= f.text_field :name, {:size => 20 } %>
    </div>
    <% if @team.new_record? %>
    <div class="field">
      <p><%= f.label :players__id %></p>
      <%= select_tag("players[][id]", options_from_collection_for_select(@players, :id, :name)) %> and
      <%= select_tag("players[][id]", options_from_collection_for_select(@players, :id, :name)) %>
    </div>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>

<% end %>
