<h2>Teams</h2>

<% @teams.each do |team| %>
  <div class="team">
    <h3><%= team.name %></h3>
    <div class="team_content">
      <p>
        <% player_1 = team.players.first() %>
        <% player_2 = team.players.last() %>
        <%= link_to "#{player_1.name}", player_1 %>
        and
        <%= link_to "#{player_2.name}", player_2 %>
      </p>
      <ul class="control">
        <li><%= link_to 'Details', team %></li>
        <li><%= link_to 'Rename', edit_team_path(team) %></li>
        <li><%= link_to 'Disband', team, {method: :delete, class: "delete"}, data: { confirm: 'Break up the band?' } %></li>
      </ul>
    </div>
  </div>
<% end %>


<div>
  <%= link_to 'New Team', new_team_path %>
</div>
