<h2>Teams</h2>

<% @teams.each do |team| %>
  <div class="team">
    <h3><%= team.name %></h3>
    <div class="team_content">
      <p>
        <% player_1 = team.players.first() %>
        <% player_2 = team.players.last() %>
        <%= link_to "#{player_1.name}", player_1 %>
        and
        <%= link_to "#{player_2.name}", player_2 %>
      </p>
      <ul>
        <li><%= pluralize(team.games.length, "game") %></li>
        <li><%= pluralize(team.games_won.length, "win") %></li>
      </ul>
      <ul class="control">
        <li><%= link_to 'Details', team %></li>
        <li><%= link_to 'Rename', edit_team_path(team) %></li>
        <li><%= link_to 'Disband', team, {method: :delete, class: "delete", confirm: 'You sure? Disbanding a team will also remove all data from any games they participated in.' } %></li>
      </ul>
    </div>
  </div>
<% end %>

<% if current_user.players.length < 2 %>
  <div class="help">
    <p>You'll need two players to create a team. <%= link_to 'Click here to create a new one', new_player_path %>.</p>
  </div>
<% else %>
  <div class="new">
    <%= link_to 'Create a New Team', new_team_path %>
  </div>
<% end %>
