<%= form_for(@round) do |f| %>
  <% if @round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
      <% @round.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :bid_value %><br />
    <%= f.number_field :bid_value %>
  </div>
  <div class="field">
    <%= f.label :bid_suit %><br />
    <%= f.text_field :bid_suit %>
  </div>
  <div class="field">
    <%= f.label :bidding_team_won_round %><br />
    <%= f.check_box :bidding_team_won_round %>
  </div>
  <div class="field">
    <%= f.label :tricks_won_by_other_team %><br />
    <%= f.number_field :tricks_won_by_other_team %>
  </div>
  <div class="field">
    <%= f.label :winning_team_id %><br />
    <%= f.number_field :winning_team_id %>
  </div>
  <div class="field">
    <%= f.label :game_id %><br />
    <%= f.number_field :game_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
