<%= form_for([@game,@round]) do |f| %>
  <% if @round.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@round.errors.count, "error") %> stopped this round from being created:</h3>
      <ul>
      <% @round.errors.each do |key, value| %>
        <li><%= value %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Round <%= @game.rounds.length %></h3>

  <div class="hidden_fields">
    <%= f.hidden_field(:number, :value => "#{@game.rounds.length}") %>
    <%= f.hidden_field(:bid_value, :value => "0") %>
    <%= f.hidden_field(:bid_suit, :value => "") %>
    <%= f.hidden_field(:bid_team_id, :value => "") %>
  </div>

  <%= render 'score_table' %>

  <table class="fields">
    <tbody>
      <tr>
        <td class="label"><%= f.label :bid_player_id, "Bidding player" %></td>
        <td><%= collection_select(:round, :bid_player_id, @game.players.all, :id, :name) %></td>
      </tr>
      <tr>
        <td class="label"><%= f.label :bidding_team_won_round %></td>
        <td><%= f.check_box :bidding_team_won_round %></td>
      </tr>
      <% tricks_array = 0.upto(10).map { |number| ["#{number}", number]} %>
      <tr>
        <td class="label"><%= f.label :tricks_won_by_other_team %></td>
        <td><%= f.select(:tricks_won_by_other_team, options_for_select(tricks_array)) %></td>
      </tr>
      <tr class="actions">
        <td colspan="2"><%= f.submit %></td>
      </tr>
    </tbody>
  </table>

<% end %>

<script>
  $(function() {

    $("#round_bid_player_id").on("change", function() {
      var team_lookup = <%= raw @game.get_player_team_lookup.to_json %>;
      $("#round_bid_team_id").val(team_lookup[$(this).val()]);

    });

    $("#round_bid_player_id").change();

    $("#score_table").on("click", "td", function() {
      var $this = $(this);
      $("#round_bid_suit").val($this.data('suit').replace(/_/g, " "));
      $("#round_bid_value").val($this.parent().data('bidvalue'));

      $("#score_table td").removeClass("active");
      $this.addClass("active");
    });
  });
</script>
