<%= form_for([@game,@new_round]) do |f| %>
  <% if @new_round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_round.errors.count, "error") %> prohibited this new_round from being saved:</h2>

      <ul>
      <% @new_round.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hidden_fields">
    <%= f.hidden_field(:number, :value => "#{@game.rounds.length}") %>
    <%= f.hidden_field(:bid_value, :value => "7") %>
    <%= f.hidden_field(:bid_suit, :value => "clubs") %>
    <%= f.hidden_field(:bid_team_id, :value => "1") %>
  </div>

  <div class="field">
    <%= collection_select(:round, :bid_player_id, @game.players.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :bidding_team_won_round %>
    <%= f.check_box :bidding_team_won_round %>
  </div>
  <div class="field">
    <%= f.label :tricks_won_by_other_team, "Tricks won by other team" %>
    <% tricks_array = 0.upto(10).map { |number| ["#{number}", number]} %>
    <%= f.select(:tricks_won_by_other_team, options_for_select(tricks_array)) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
