<h2><%= @game.title %></h2>

<% unless @rounds.descending.empty? %>
  <p class="chart_title"><%= (@game.completed? ? "Final" : "Current") + " score: #{@game.current_score}" %></p>
  <div id="rounds_index_graph" class="flot_chart"></div>
<% end %>

<% unless @game.completed? %>
  <div class="new_round">
    <%= render 'form' %>
  </div>
<% end %>

<div id="round_list">
  <% @rounds.descending.each do |round| %>
    <div class="round">

      <h3>Round <%= round.number %></h3>
      <div class="round_content">
        <p> <%= round.score %> </p>
        <ul>
          <li><%= raw round.bid_summary %></li>
          <li><%= round.bid_team.name %> won <strong><%= round.tricks_won_by_bidders %> tricks</strong></li>
          <li><%= round.other_team.name %> won <strong><%= round.tricks_won_by_other_team %> tricks</strong></li>
        </ul>
      </div>
    </div>

  <% end %>
</div>

<% unless (@game.completed? || @rounds.descending.empty?) %>
  <div class="delete"><%= link_to 'Delete most recent round', [@game, @rounds.descending.first!], {method: :delete, class: "delete"} %></div>
<% end %>

<script>
  $(function() {
    <% unless @rounds.empty? %>
      setUpScoreFlotChart();
    <% end %>
  });

  <%= render 'flot_rounds_graph' %>
</script>
