<h2><%= @game.title %></h2>

  <% unless @game.completed? %>
    <%= render 'form' %>
  <% end %>

  <% @rounds.descending.each do |round| %>

    <h3>Round <%= round.number %></h3>
    <div class="round_content">
      <p> <%= round.score %>
      <ul>
        <li><%= round.bid_player.name %> (<%= round.bid_team.name %>) bid <%= round.bid %> </li>
        <li><%= round.bid_team.name %> won <%= round.tricks_won_by_bidders %> tricks
        <li><%= round.other_team.name %> won <%= round.tricks_won_by_other_team %> tricks
      </ul>
    </div>

  <% end %>

<%= link_to 'New Round', new_game_round_path(@game) %>
