<h2>Games</h2>

<% @games.each do |game| %>
  <div class="game">
    <h3><%= game.title %></h3>
    <div class="game_content">
      <%= game.completed? ? game.winning_team.name + " won this one." : "in progress" %>
      <ul class="control">
        <% if !game.completed? %>
        <li><%= link_to 'Continue', game_rounds_path(game) %></li>
        <% end %>
        <li><%= link_to 'Details', game_path(game) %></li>
        <li><%= link_to 'Delete', game, {method: :delete, class: "delete", confirm: "Are you sure? I'm not backing up the database so this is for keeps."  } %></li>
      </ul>
    </div>
  </div>
<% end %>

<% if current_user.players.length < 4 || current_user.teams.length < 2 %>
  <div class="help">
    <p>You'll need four players in two teams to start a game.</p>
    <ul>
      <li>See your <%= link_to "players", players_path %>, or <%= link_to 'create a new one', new_player_path %>.</li>
      <li>See your <%= link_to "teams", teams_path %>, or <%= link_to 'create a new one', new_team_path %>.</li>
    </ul>
  </div>
<% else %>
  <div class="new">
    <%= link_to 'New Game', new_game_path %>
  </div>
<% end %>
