<div id="notice_container"><p id="notice"><%= notice %></p></div>

<h2><%= @game.title %></h2>
<div class="details">
  <p><%= @game.completed? ? "Final" : "Current" %> score: <%= @game.current_score %></p>
  <% if @game.completed? %>
  <%= @game.winning_team.name + " won this one." %>
  <% else %>
  <%= link_to 'Continue game', game_rounds_path(@game) %>
  <% end %>
</div>

<%= link_to 'Back to games', games_path %>
