<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h3>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><%= f.label :name, "Name" %></p>
    <%= f.text_field :name, size: 20 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
