<h2>Players</h2>

<% @players.each do |player| %>
  <div class="player">
    <h3><%= player.name %></h3>
    <div class="player_content">

      <ul>
        <li><%= pluralize(player.games.length, "game") %></li>
        <li><%= pluralize(player.games_won.length, "win") %></li>
      </ul>

      <ul class="control">
        <li><%= link_to 'Details', player %></li>
        <li><%= link_to 'Edit', edit_player_path(player) %></li>
        <li><%= link_to 'Delete', player, {method: :delete, class: "delete"}, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  </div>
<% end %>

<% if current_user.players.length < 2 %>
  <div class="help">
    <p>You need four players for a game of 500. Click the button below to get started.</p>
  </div>
<% end %>
<div class="new">
  <%= link_to 'Create a New Player', new_player_path %>
</div>
