<h2>Players</h2>

<% @players.each do |player| %>
  <div class="player">
    <h3><%= player.name %></h3>
    <div class="player_content">

      <ul class="control">
        <li><%= link_to 'Details', player %></li>
        <li><%= link_to 'Edit', edit_player_path(player) %></li>
        <li><%= link_to 'Delete', player, {method: :delete, class: "delete"}, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  </div>
<% end %>


<div>
  <%= link_to 'New Player', new_player_path %>
</div>
