<h2>Players</h2>

<% @players.each do |player| %>
  <div>
    <h3><%= player.name %></h3>
    <div class="player_content">

      <ul>
        <li><%= link_to 'Details', player %></li>
        <li><%= link_to 'Edit', edit_player_path(player) %></li>
        <li><%= link_to 'Delete', player, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  </div>
<% end %>


<div>
  <%= link_to 'New Player', new_player_path %>
</div>
