<!DOCTYPE html>
<html>
<head>
  <title>Misère</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="pre_body_container">
    <%= render 'devise/menu/user_control' %>
  </div>
  <div id="body_container">
    <div id="header_container">
      <header>
          <h1><%= link_to "Misère", root_path %></h1>
          <nav>
            <ul>
              <% if user_signed_in? %>
                <li><%= link_to "Players", players_path %></li>
                <li><%= link_to "Teams", teams_path %></li>
                <li><%= link_to "Games", games_path %></li>
              <% else %>
                <li><%= link_to('Log in', new_user_session_path)  %></li>
              <% end %>
            </ul>
          </nav>
      </header>
    </div>

    <div id="content_container">
      <div id="notice_container"><p id="notice"><%= notice %></p></div>
      <div id="alert_container"><p id="alert"><%= alert %></p></div>
      <%= yield %>
    </div>
  </div>
  <div id="footer_container" class="contrast">
    <footer>
      <div class="left">
        <p>&hearts; <a href="http://heywill.com/">heywill.com</a> - source on <a href="https://github.com/wjoneil/misere">github</a>. Background from <a href="http://www.squidfingers.com/patterns/">squidfingers</a>.</p>
      </div>
      <div class="right">
        <p><a href="mailto:will@heywill.com?subject=Misere">Questions?</a></p>
      </div>
      <div class="clear"></div>

    </footer>
  </div>

  <script>
    $(function() {

      <% if notice %>
        $("#notice_container").show().delay(3000).slideUp();
      <% end %>
      <% if alert %>
        $("#alert_container").show().delay(5000).slideUp();
      <% end %>

    });
  </script>

</body>
</html>
