<!DOCTYPE html>
<html>
<head>
  <title>Misère</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="body_container">
    <div id="header_container">
      <header>
          <h1>Misère</h1>
          <nav>
            <ul>
              <li><%= link_to "Players", players_path %></li>
              <li><%= link_to "Teams", teams_path %></li>
              <li><%= link_to "Games", games_path %></li>
            </ul>
          </nav>
      </header>
    </div>

    <div id="content_container">
      <%= yield %>
    </div>
  </div>
  <div id="footer_container">
    <footer>
      <p>a <a href="http://heywill.com/">heywill.com</a> party. Source on github. <a href="mailto:will@heywill.com">Questions?</a></p>
    </footer>
  </div>

  <script>
    $(function() {

      <% if notice %>
        $("#notice_container").show().delay(1000).slideUp();
      <% end %>

    });
  </script>

</body>
</html>
